/* The switch - the box around the slider */
.a_switch {
  position: relative;
  display: inline-block;
  padding-top: 20px;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.a_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.a_switch label {
  display: inline;
}

/* The slider */
.a_slider {
  position: absolute;
  cursor: pointer;
  display: inline;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 45px;
  height: 25px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.a_slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .a_slider {
  background-color: #4CAF50;
}

input:focus + .a_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .a_slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}
